body {
    margin: 0;
    padding: 0;
}

.fullscreen {
    position: absolute;
    bottom: 0;
    right: 0;
}

.closeAction {
    background-image: url(/Content/Close.png);
    background-repeat: no-repeat;
}
